In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler,OrdinalEncoder, OneHotEncoder, OrdinalEncoder, LabelEncoder, MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer

# 1. Load Data

In [2]:
df = pd.read_csv('../../titanic_Dataset_modi.csv')
df.drop(columns=['PassengerId','Name','Ticket','Cabin'], inplace=True)
df

     Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked education
0           0       3    male  22.0      1      0   7.2500        S    School
1           1       1  female  38.0      1      0  71.2833        C        UG
2           1       3  female  26.0      0      0   7.9250        S        PG
3           1       1  female  35.0      1      0  53.1000        S        PG
4           0       3    male  35.0      0      0   8.0500        S        UG
..        ...     ...     ...   ...    ...    ...      ...      ...       ...
395         0       3    male  22.0      0      0   7.7958        S        PG
396         0       3  female  31.0      0      0   7.8542        S        PG
397         0       2    male  46.0      0      0  26.0000        S        PG
398         0       2    male  23.0      0      0  10.5000        S        UG
399         1       2  female  28.0      0      0  12.6500        S        UG

[400 rows x 9 columns]

# 2. Clean the data

##### 1. Age -> mean impute ; Embarked -> median impute
##### 2. Fare -> Standard Scaler ;  Age -> MinMax Scaler
##### 3. Sex, Embaked -> OHE
##### 4. education -> Ordinal 
##### 5. Label Encoding
##### 5. Feature Selection
##### 6. Model train

In [3]:
df.isnull().mean() * 100

Survived      0.00
Pclass        0.00
Sex           0.00
Age          19.50
SibSp         0.00
Parch         0.00
Fare          0.00
Embarked      0.25
education     0.00
dtype: float64

In [4]:
age_pipe = Pipeline([
    ('imputer', SimpleImputer()),
    ('scaling', MinMaxScaler())
])
# Fare (scale)
fare_pipe = Pipeline([
    ('scaling', StandardScaler())
])
# Embarked (impute,OHE)
embk_pipe = Pipeline([
    ('impute', SimpleImputer(strategy='most_frequent')),
    ('ohe', OneHotEncoder(drop='first', sparse_output=False, dtype=np.int32))
])
# Sex (OHE)
sex_pipe = Pipeline([
    ('ohe', OneHotEncoder(drop='first', sparse_output=False, dtype=np.int32))
])
# Education (ordinal)
edu_pipe = Pipeline([
    ("ordinal", OrdinalEncoder(categories=[['School', 'UG', 'PG']]))
])

In [5]:
# Preprocessor
preprocessor = ColumnTransformer(transformers=[
    ('age_pipe', age_pipe, ['Age']),
    ('fare_pipe', fare_pipe, ['Fare']),
    ('embk_pipe', embk_pipe, ['Embarked']),
    ('sex_pipe', sex_pipe, ['Sex']),
    ('edu_pipe', edu_pipe, ['education']),
], remainder='passthrough')

In [6]:
X = preprocessor.fit_transform(df.iloc[:,1:])
X

array([[ 0.30169588, -0.51903614,  0.        , ...,  3.        ,
         1.        ,  0.        ],
       [ 0.52971355,  0.75965824,  0.        , ...,  1.        ,
         1.        ,  0.        ],
       [ 0.3587003 , -0.50555692,  0.        , ...,  3.        ,
         0.        ,  0.        ],
       ...,
       [ 0.64372239, -0.14461346,  0.        , ...,  2.        ,
         0.        ,  0.        ],
       [ 0.31594699, -0.45413621,  0.        , ...,  2.        ,
         0.        ,  0.        ],
       [ 0.38720251, -0.41120241,  0.        , ...,  2.        ,
         0.        ,  0.        ]], shape=(400, 9))

In [7]:
y = df.iloc[:,0]
y

0      0
1      1
2      1
3      1
4      0
      ..
395    0
396    0
397    0
398    0
399    1
Name: Survived, Length: 400, dtype: int64

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2,random_state=42)

In [9]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((320, 9), (80, 9), (320,), (80,))

In [10]:
import torch

X_train = torch.from_numpy(np.asarray(X_train).astype(np.float32))
X_test = torch.from_numpy(np.asarray(X_test).astype(np.float32))
y_train = torch.from_numpy(np.asarray(y_train).astype(np.float32))
y_test = torch.from_numpy(np.asarray(y_test).astype(np.float32))

In [11]:
X_train

tensor([[ 0.4870,  0.3966,  0.0000,  ...,  1.0000,  1.0000,  0.0000],
        [ 0.4300, -0.3044,  0.0000,  ...,  3.0000,  1.0000,  0.0000],
        [ 0.4727, -0.5341,  0.0000,  ...,  3.0000,  0.0000,  0.0000],
        ...,
        [ 0.3969, -0.0448,  0.0000,  ...,  1.0000,  0.0000,  0.0000],
        [ 0.0309, -0.3463,  0.0000,  ...,  3.0000,  1.0000,  1.0000],
        [ 0.2874,  0.8796,  0.0000,  ...,  1.0000,  0.0000,  1.0000]])

# 3. Build Model

In [12]:
import torch.nn as nn

class MySimplePerceptron(nn.Module):
    def __init__(self, X_train):
        super().__init__()
        
        self.linear = nn.Linear(X_train.shape[1], 1)
        self.sigmoid = nn.Sigmoid()
    
    def forward(self, X_train):
        out = self.linear(X_train)
        out = self.sigmoid(out)
        return out
    
    def loss_function(self, y_pred, y_train):
        epsilon = 1e-8
        y_pred = torch.clamp(y_pred, epsilon, 1-epsilon)
        loss = (-(y_train * torch.log(y_pred)) - ((1-y_train)*torch.log(1-y_pred))).mean()
        return loss

# 4. Train Model

In [13]:
learning_rate = 0.1
epochs = 100

In [14]:
model = MySimplePerceptron(X_train)

for epoch in range(epochs):
    #forward propagation
    y_pred = model.forward(X_train)
    
    # loss calculate
    loss = model.loss_function(y_pred, y_train)
    
    # backpropagation
    loss.backward()
    
    # update weight and bias
    with torch.no_grad():
        model.linear.weight -= learning_rate * model.linear.weight.grad
        model.linear.bias -= learning_rate * model.linear.bias.grad
    
    # reinitialize gradient
    model.linear.weight.grad.zero_()
    model.linear.bias.grad.zero_()
    
    print(f"Epoch: {epoch + 1}, Loss: {loss.item()}")

Epoch: 1, Loss: 0.6958217024803162
Epoch: 2, Loss: 0.6930217742919922
Epoch: 3, Loss: 0.6910758018493652
Epoch: 4, Loss: 0.6896634697914124
Epoch: 5, Loss: 0.6885908246040344
Epoch: 6, Loss: 0.6877397298812866
Epoch: 7, Loss: 0.6870378255844116
Epoch: 8, Loss: 0.6864405274391174
Epoch: 9, Loss: 0.6859193444252014
Epoch: 10, Loss: 0.6854562163352966
Epoch: 11, Loss: 0.6850392818450928
Epoch: 12, Loss: 0.6846603155136108
Epoch: 13, Loss: 0.6843136548995972
Epoch: 14, Loss: 0.6839948892593384
Epoch: 15, Loss: 0.6837007999420166
Epoch: 16, Loss: 0.6834286451339722
Epoch: 17, Loss: 0.6831763982772827
Epoch: 18, Loss: 0.6829419136047363
Epoch: 19, Loss: 0.6827237606048584
Epoch: 20, Loss: 0.6825204491615295
Epoch: 21, Loss: 0.6823306083679199
Epoch: 22, Loss: 0.6821531653404236
Epoch: 23, Loss: 0.6819869875907898
Epoch: 24, Loss: 0.6818311810493469
Epoch: 25, Loss: 0.6816850304603577
Epoch: 26, Loss: 0.6815474033355713
Epoch: 27, Loss: 0.6814179420471191
Epoch: 28, Loss: 0.6812957525253296
Epoch: 29, Loss: 0.6811804175376892
Epoch: 30, Loss: 0.6810711622238159
Epoch: 31, Loss: 0.6809678077697754
Epoch: 32, Loss: 0.6808697581291199
Epoch: 33, Loss: 0.6807765364646912
Epoch: 34, Loss: 0.6806877851486206
Epoch: 35, Loss: 0.6806032657623291
Epoch: 36, Loss: 0.680522620677948
Epoch: 37, Loss: 0.6804454922676086
Epoch: 38, Loss: 0.6803716421127319
Epoch: 39, Loss: 0.6803009510040283
Epoch: 40, Loss: 0.6802330613136292
Epoch: 41, Loss: 0.6801678538322449
Epoch: 42, Loss: 0.6801051497459412
Epoch: 43, Loss: 0.6800447106361389
Epoch: 44, Loss: 0.6799864768981934
Epoch: 45, Loss: 0.6799302697181702
Epoch: 46, Loss: 0.6798758506774902
Epoch: 47, Loss: 0.6798232793807983
Epoch: 48, Loss: 0.6797723174095154
Epoch: 49, Loss: 0.6797229647636414
Epoch: 50, Loss: 0.6796749830245972
Epoch: 51, Loss: 0.6796285510063171
Epoch: 52, Loss: 0.6795831322669983
Epoch: 53, Loss: 0.6795392036437988
Epoch: 54, Loss: 0.6794962882995605
Epoch: 55, Loss: 0.679454505443573
Epoch: 56, Loss: 0.6794137358665466
Epoch: 57, Loss: 0.679374098777771
Epoch: 58, Loss: 0.6793351769447327
Epoch: 59, Loss: 0.6792973279953003
Epoch: 60, Loss: 0.6792601943016052
Epoch: 61, Loss: 0.6792239546775818
Epoch: 62, Loss: 0.6791884899139404
Epoch: 63, Loss: 0.6791536808013916
Epoch: 64, Loss: 0.6791196465492249
Epoch: 65, Loss: 0.6790863275527954
Epoch: 66, Loss: 0.6790534853935242
Epoch: 67, Loss: 0.6790214776992798
Epoch: 68, Loss: 0.6789900064468384
Epoch: 69, Loss: 0.6789589524269104
Epoch: 70, Loss: 0.6789286136627197
Epoch: 71, Loss: 0.6788988709449768
Epoch: 72, Loss: 0.6788695454597473
Epoch: 73, Loss: 0.678840696811676
Epoch: 74, Loss: 0.6788123250007629
Epoch: 75, Loss: 0.6787844896316528
Epoch: 76, Loss: 0.6787570118904114
Epoch: 77, Loss: 0.6787300705909729
Epoch: 78, Loss: 0.6787034869194031
Epoch: 79, Loss: 0.6786773800849915
Epoch: 80, Loss: 0.6786515712738037
Epoch: 81, Loss: 0.6786262392997742
Epoch: 82, Loss: 0.6786012053489685
Epoch: 83, Loss: 0.678576648235321
Epoch: 84, Loss: 0.6785523891448975
Epoch: 85, Loss: 0.6785284280776978
Epoch: 86, Loss: 0.6785048842430115
Epoch: 87, Loss: 0.6784815788269043
Epoch: 88, Loss: 0.6784586906433105
Epoch: 89, Loss: 0.6784361004829407
Epoch: 90, Loss: 0.6784138679504395
Epoch: 91, Loss: 0.6783918142318726
Epoch: 92, Loss: 0.6783700585365295
Epoch: 93, Loss: 0.6783486008644104
Epoch: 94, Loss: 0.6783275008201599
Epoch: 95, Loss: 0.6783065795898438
Epoch: 96, Loss: 0.678286075592041
Epoch: 97, Loss: 0.6782656908035278
Epoch: 98, Loss: 0.6782455444335938
Epoch: 99, Loss: 0.6782256960868835
Epoch: 100, Loss: 0.6782060265541077

# 5. Evaluate Model

In [15]:
with torch.no_grad():
    y_pred = model.forward(X_test)
    y_pred = (y_pred > 0.5).float()
    accuracy = (y_test == y_pred).float().mean()
    print(f"Accuracy: {accuracy}")

Accuracy: 0.6543750166893005